<div class="non-centered">
  <h1>Les privilégiés sont</h1>

  <p>
    <% @user.each do |user| %>
    <li><strong><%= user.first_name %> <%= user.last_name %></strong><br>
      Contact <%= user.email %></li>
    <% end %>
  </p>
</div>
